.date-picker {background:url(./date-picker.png) no-repeat  97% -44px;padding-right: 30px;}
.m-calendar{
	width:235px;
	border:2px solid #000;
	position:absolute;
	font-size:12px;
	z-index:999;
	display:none;
	background:#fff;
}
.m-calendar-head{
	height:37px;
	line-height :37px;
	font-size:14px;
	-webkit-user-select: none;
	user-select: none;
}
.m-calendar-head {
	background:#fff;
}
.m-calendar-head span{
	display: inline-block;
	cursor:pointer;
}
.m-calendar-head span.time{
	position:absolute; 
	right:5px;
	top: 0;
}
.m-calendar-head .prev, .m-calendar-head .next{
	background:url(./date-picker.png) no-repeat  -7px 6px;
	width:22px;
	height:22px;
	position:relative; 
	top: 5px;
}
.m-calendar-head .next{
	background-position:-16px -20px;
}
.m-calendar-head .prev:hover, .m-calendar-head .next:hover{
	opacity:0.5;
}
.m-calendar-head .title:hover{
	color:#666;
}
.m-calendar-list span{
	float:left;display:inline;
	width:33px;
	height:30px;
	line-height :30px;
	margin:1px 1px 0 0;
	background:#f3f3f3;
	cursor:pointer;
	text-align:center;
}
.m-calendar-list span.old, .m-calendar-list span.new{
	background:#E6E3E3;
}
.m-calendar-list span.disabled{
	background:#fff;
	color:#ccc;
	cursor:default;
}
.m-calendar-list span.disabled:hover{
	background:#fff;
}
.m-calendar-list span:hover{
	background:#eee;
}
.m-calendar-list span:active{
	background:#f9e4b0;
}
.m-calendar-list span.disabled:active{
	background:#fff;
}
.m-calendar-list span.checked{
	background:#0066ff;
	color:#fff;
}
.m-calendar-week span{
	float:left;display:inline;
	width:33px;
	height:20px;
	line-height :20px;
	margin:1px 1px 0 0;
	background:#F3F3F3;
	cursor:default;
	text-align:center;
}
.m-calendar-offset{
	width:100%;
	overflow:hidden;
}
.m-calendar-week, .m-calendar-list{
	width:245px;
}
.m-calendar-today{
	text-align:center;
	height:30px;
	line-height :30px;
	font-size:14px;
	cursor:pointer;
}
.m-calendar-today span:hover{
	color:#666;
}
.m-calendar-month .m-calendar-list span,
.m-calendar-year .m-calendar-list span{
	width:80px;
	height:40px;
	line-height :40px;
}
.m-calendar-time .title{
	padding-left:10px;
}
.m-calendar-time span.close{
	position:absolute; 
	right: 10px;
	top: 8px;
	width:12px;
	height:12px;
	background:#eee;
	background:url(./date-picker.png) no-repeat -38px -88px
}
.m-calendar-time span.close:hover{
	background-position: -10px -88px;
}
.m-calendar-select {
	text-align:center;
	line-height :30px;
}
.m-calendar-select select{
	width:28%;
}
.m-calendar-select strong{
	padding:0 2px;
}
.m-calendar-month, .m-calendar-year, .m2-calendar-time{display:none;}